*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.query {
	background-image: url("images/query.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

form {
	width: 90%;
	max-width: 600px;
}
 .input-group{
	 margin-bottom: 30px;
   position: relative;
 }

 input {
	 width: 600px;
	 padding: 10px;
	 outline: 0;
	 border: 1px solid #fff;
	 color: #fff;
	 background: transparent;
	 font-size: 15px;
 }

 textarea {
	 width: 600px;
   height: 300px;
	 padding: 10px;
	 outline: 0;
	 border: 1px solid #fff;
	 color: #fff;
	 background: transparent;
	 font-size: 15px;
 }

button {
	 width: 100%;
	 padding: 10px 0;
	 outline: none;
	 border: 1px solid #fff;
	 color: #000;
	 background-color: #fff;
   cursor: pointer;
 }
 button:hover{
   background: transparent;
   color: #fff;
 }
